<section class="bg-primary" id="About Me">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded text-left">Hello! My name is Judy Kim and I am an occupational therapy doctorate student at the University of St. Augustine for Health Sciences. <br><br>I'm excited to share my capstone project with you: creating an injury prevention program specifically for flutists through an occupational therapy lens. My goal with this program is to shine a light on overuse injuries and help to facilitate the longevity and prosperity of flutists in their careers. </p>
                <a href="#" class="btn btn-default btn-xl">Get Started</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <img src="https://raw.githubusercontent.com/jkimOTD/test/main/img/me.png" class="img-fluid mx-auto d-block mt-4">
            </div>
        </div>
    </div>
</section>

<style>
    #About\ Me {
        text-align: center;
    }
    .section-heading {
        margin-top: 20px;
    }
    .text-faded {
        margin-bottom: 20px;
    }
    .btn {
        margin-top: 20px;
    }
</style>
