<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="module1" class="portfolio-box">
                    <img src="img/mod1final.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Module 1
                            </div>
                            <div class="project-name">
                                    Introduction to Overuse Injuries
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="module2" class="portfolio-box">
                    <img src="img/mod2final.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Module 2
                            </div>
                            <div class="project-name">
                                Risk Factors Associated with Overuse Injuries
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="module3" class="portfolio-box">
                    <img src="img/mod3final.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Module 3
                            </div>
                            <div class="project-name">
                                Identification of Personal Risk Factors
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="module4" class="portfolio-box">
                    <img src="img/mod4official.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Module 4
                            </div>
                            <div class="project-name">
                                Impact of Stress
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/mod5final.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Module 5
                            </div>
                            <div class="project-name">
                                Coping Skills for Stress and Anxiety
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/mod6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Module 6
                            </div>
                            <div class="project-name">
                                Strategies to Reduce Risk of Overuse Injury Development/Exacerbation
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
