<section class="bg-primary" id="purpose">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Purpose of the Capstone Project</h2>
                <hr class="light">
                <p class="text-faded">Flutists face significant health risks, including a high prevalence of playing-related injuries and associated psychological stress and social pressures to perform despite the pain. This program aims to address these unique health challenges by integrating occupational therapy (OT) principles, providing comprehensive education, and injury prevention and management strategies. The program seeks to raise awareness of overuse injuries, enhance self-confidence in managing stress, and implement injury prevention techniques. Expected outcomes include a deeper understanding of injury susceptibility, increased knowledge in prevention strategies, healthy practice routines, and improved overall career longevity and quality of life for flutists. </p>
                <a href="#" class="btn btn-default btn-xl">Get Started </a>
            </div>
        </div>
    </div>
</section>
