<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Program Schedule</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row"> <!-- First row with three items -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>June 5, 2024</h3>
                    <p class="text-muted">Module 1: Introduction to Overuse Injuries</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>June 12, 2024</h3>
                    <p class="text-muted">Module 2: Risk Factors Associated with Overuse Injuries</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>June 19, 2024</h3>
                    <p class="text-muted">Module 3: Identification of Personal Risk Factors</p>
                </div>
            </div>
        </div>
        <div class="row"> <!-- Second row with three items -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>June 26, 2024</h3>
                    <p class="text-muted">Module 4: Impact of Stress</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>July 3, 2024</h3>
                    <p class="text-muted">Coping Skills for Stress and Anxiety</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>July 10, 2024</h3>
                    <p class="text-muted">Strategies to Reduce Risk of Overuse Injury Development/Exacerbation</p>
                </div>
            </div>
        </div>
    </div>
</section>
