<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Program Schedule</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row"> <!-- First row with three items -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>June 5, 2024</h3>
                    <p class="text-muted">Module 1: Introduction to Overuse Injuries</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>June 12, 2024</h3>
                    <p class="text-muted">Module 2: Risk Factors Associated with Overuse Injuries</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>June 19, 2024</h3>
                    <p class="text-muted">Module 3: Identification of Personal Risk Factors</p>
                </div>
            </div>
        </div>
        <div class="row"> <!-- Second row with three items -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>June 26, 2024</h3>
                    <p class="text-muted">Module 4: Impact of Stress</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>July 3, 2024</h3>
                    <p class="text-muted">Module 5: Coping Skills for Stress and Anxiety</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <h3>July 10, 2024</h3>
                    <p class="text-muted">Module 6: Strategies to Reduce Risk of Overuse Injury Development/Exacerbation</p>
                </div>
            </div>
        </div>
        <!-- Hyperlink row with larger text and more spacing -->
        <div class="row text-center" style="margin-top: 45px;">
            <div class="col-lg-12">
                <a href="https://us06web.zoom.us/j/89419612172?pwd=mK72vVSfB6S8BzMqkREmAzXUJy5Bqv.1" style="font-size: 24px;">Click here to access zoom link</a><br>
                <span style="font-size: 19.2px;">
                    Meeting ID: 894 1961 2172 <br>
                    Password: 303578 <br>
                    Every Wednesdays @ 8pm CST <br>
                </span>
            </div>
        </div>
    </div>
</section>

